extends layout

block content
   
  h1= title
  

  p
  span(style='font-size: 60px;') About me
  table(style='width: 100%;')
    tbody
      tr
        td(style='width: 13.9955%;')
          img.fr-fic.fr-dii.fr-fil(src='./images/whoami.jpg', style='width: 228px;')
          br
        td(style='width: 85.9489%;')
          p#isPasted(style='color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;') I am Vihan Dalvi and a fellow programmer and a RHS student.
          p(style='color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;')
            | Thomas Edward Patrick Brady Jr. (born August 3, 1977) is a former American football quarterback who played in the National Football League (NFL) for 22 seasons. He spent his first 20 seasons with the New England Patriots, where he was a central contributor to the franchise&apos;s dynasty from 2001 to 2019. In his final two seasons, he was a member of the Tampa Bay Buccaneers. Brady is widely regarded as the greatest football player of all time.[1]
          p(style='color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;')
            | After playing college football at Michigan, Brady was selected 199th overall by the Patriots in the sixth round of the 2000 NFL Draft, later earning him a reputation as the NFL&apos;s biggest draft steal.[2][3][4] He became the starting quarterback during his second season, which saw the Patriots win their first Super Bowl title in Super Bowl XXXVI. As the team&apos;s primary starter for 18 seasons,[a] Brady led the Patriots to 17 division titles (including 11 consecutive from 2009 to 2019), 13 AFC Championship Games (including eight consecutive from 2011 to 2018), nine Super Bowl appearances, and six Super Bowl titles, all NFL records for a player and franchise.[b] He joined the Buccaneers in 2020 and led them to win Super Bowl LV, extending his individual records to 10 Super Bowl appearances and seven victories.[7]
          p(style='color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;')
            | Brady holds nearly every major quarterback record, including passing yards, completions, touchdown passes, and games started, in addition to the most Pro Bowl selections. Never having a losing season, he is the NFL leader in career quarterback wins, quarterback regular season wins, quarterback playoff wins, and Super Bowl MVP awards, as well as the only Super Bowl MVP for two different franchises. The only quarterback to win a Super Bowl in three separate decades, Brady has also been noted for the longevity of his success. He is the oldest player to be named Super Bowl MVP and win a Super Bowl as the starting quarterback at age 43, the oldest NFL MVP at age 40, and the oldest quarterback selected to the Pro Bowl at age 44.[8] Brady is the only NFL quarterback named to two all-decade teams (2000s and 2010s)[9] and was unanimously named to the 100th Anniversary All-Time Team in 2019.
          br
  form(action='./aboutme/feedback', method='GET')
    p Name: 
      input(type='text', name='name')
    p Email: 
      input(type='text', name='email')
    p comment: 
      input(type="textarea"  name="comment")
    p
      input(type='submit', value='Submit')