extends layout

block content
   
  h1= title
  

  p.question Who am I?
  p.answer Just a fellow programmer and a student of RHS! 


  div.button 
      input(type="button", value="test")
  div.text
    input(type="text", value="test")

