extends layout

block content
   
  h1= title
  p.question What is #{title} ?
  p.answer Coding buddy connects you to a professional programmer who is interested in helping you learn programming

  p.question Do I need to pay for #{title} ?
  p.answer Nope, we believe programmers are awesome and world need more of them! 

  p.question Is this another computer science class #{title} ?
  p.answer Nope, we believe programmers are awesome and world needs more of them! 

  


