doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    div.header 
      Table
        Tr
        td(width ="200px")
          a(href='./aboutme') About me 
        td(width ="200px")
          a(href='http://www.microsoft.com') Microsoft
        td(width ="200px")
          a(href='./users') Users
        td(width ="200px")
          a(href='./') Home
    block content 
    div.footer 
      Table
        Tr
        td(width ="200px")
          a(href='./aboutme') About me 
        td(width ="200px")
          a(href='http://www.microsoft.com') Microsoft
        td(width ="200px")
          a(href='./users') Users
        td(width ="200px")
          a(href='./') Home